NODE_ENV=production
PORT=5000

# Your own email address / target notification address
NOTIFICATION_EMAIL=your_email@example.com

# Brevo SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=2525

SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
EMAIL_FROM=noreply@example.com

# The GitHub username of the friend you want to track
GITHUB_USERNAME=yagnesh471
GITHUB_POLL_CRON=*/15 * * * *
# Optional: Set a GitHub Personal Access Token to avoid hitting the 60/hr public API rate limit
GITHUB_TOKEN=

# The LeetCode username of the friend you want to track
LEETCODE_USERNAME=llord777
LEETCODE_POLL_CRON=*/15 * * * *

# Email Content
EMAIL_GREETING=Hello Lord,
EMAIL_MESSAGE=A new submission was done by cat.
